html
  head
    title Crash Course Lecture 04 Homework
    link(href="/css/style.css", rel="stylesheet")


    script.
        console.log('hello test 👋')

  body
    // header
    header
      h1(class="headline") Toilet Inspector
      img.className#IdName(src="/images/toilet.png" alt="Image Title")

    // section
    main

      div
        a(href="/visitor/create")
          button(type="button") Register

      block content

    // footer
    footer
      p(class="headline") Here goes the footer
        p
          a(href="https://pugjs.org/api/getting-started.html" class="footerlink") Go visit "Getting started with pug"
