html
  head
    title Toilet Inspector - Javascript Crash Course 2018
    link(href="/css/style.css", rel="stylesheet")

  body
    // header
    header
      h1(class="headline") Toilet Inspector
      img.className#IdName(src="/images/toilet.png" alt="Image Title")

    // section
    main

      div
        a(href="/visitor/create")
          button(class="register" type="button") NEW!

      block content

    // footer
    footer
      p(class="headline") © Jennifer Wjertzoch 2018