a {
  color: gray;
  font-size: 23px;
  text-decoration: none;
}

a:hover {
  color:#e8e80d;
}

body {
  height: 150px;
  text-align: center;
  margin: 0;
}

button {
  margin-top: 20px;
}

button:hover{
  background-color: #e8e80d;
}

footer {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

header {
  border-bottom: dotted 4px black;
  height: 265px;
  margin: auto;
  margin-bottom: 30px;
  padding: 1px 0px 20px 0px;
  width: 90%;
}

header img {
  width: 150px;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

input {
  border-radius: 9px;
  height: 31px;
  text-align: center;
}

label {
  margin-right: 10px;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.register {
  background-color: yellow;
  border-radius: 15px;
  font-size: 20px;
  height: 60;
  width: 130px;
}

.submit{
  background-color: lightgrey;
  border-radius: 6px;
  height: 30px;
  width: 54px;
}